.person {
    cursor: pointer;
    padding: 20px;

    &.special {
        background-color: lightblue;
    }

    &.selected {
        background-color: lightgreen;
        font-weight: bold;
        border: 2px solid green;
    }

    .actions {
        display: flex;
        flex-direction: row-reverse;
    }
}